<div class="wrapper_with_padding">
  <div id="docs" class="clearfix">
    <% unless @docs.blank? %>
      <% @docs.each do |doc| %>
        <%= link_to url_for(doc) do %>
          <div class="doc">
            <p class="title"> <%= doc.title %> </p>
            <p class="date"> <%= time_ago_in_words(doc.created_at) %> </p>
            <p class="content"> <%= truncate(doc.content, length: 50) %> </p>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <h2>Create Doc!</h2>
      <button>
        <%= link_to 'Create Doc', new_doc_path %>
      </button>
    <% end %>
  </div>
</div>
